{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Administrar Sugerencias
{% endblock %}

{% block active_d_admin_sugerencia %}
    active_propia
{% endblock %}

 {% block css_d_admin_sugerencia %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/adm_sugerencia_directorio.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblSugerencias').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ sugerencias por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay sugerencias disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ sugerencias totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4,5] }
                    ]
            });
        });
    </script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Administrar Sugerencias</span>
{% endblock %}

{% block contenido_full %}
    <h1 class="text-center">Mis Sugerencias</h1>    
    <hr>
    <center>
        <img src="{% static 'principal/imgs/sugerencias_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    
    
    <table id="tblSugerencias">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Categoría</th>
                <th>Aplicada</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
{% endblock %}
