{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Establecimientos
{% endblock %}

{% block active_d_contacto %}
    active_propia
{% endblock %}

{% block css_d_contacto %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/contactos_directorio.js' %}"></script>

    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#tblContactos').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ contactos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay contactos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ contactos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4,5,6,7,8,9,10,11,12] }
                    ]
            });
        });

        
    </script>

{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Establecimiento</span>
{% endblock %}

{% block contenido_full %}
    <hr>
    <h1 class="text-center">Establecimientos</h1>    
    <center>
        <img src="{% static 'principal/imgs/contactos_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <table id="tblContactos">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Disponible</th>
                <th>Rating Promedio</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Creado por</th>
                <th>Foto</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


