{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Ver Contacto
{% endblock %}

{% block active_d_contacto %}
    active_propia
{% endblock %}

{% block css_d_contacto %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block nombreUsuario_ %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
    {% block rol %}{{ sesion.rol }}{% endblock %}
{% endif %}


{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/detalle_contactos.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblComentarios').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ comentarios por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay comentarios disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ comentarios totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4] }
                    ]
            });
        });
    </script>
{% endblock %}


{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span style="padding: 0.3em;color: #D95459;text-decoration: none;font-family: 'Muli-Regular';"><a href="/contacto">Establecimiento</a></span>
    <i class="fa fa-angle-right"></i>
    <span>Detalle de Establecimiento</span>
{% endblock %}

{% block contenido_full %}
    {% if idcontacto%}<h1 class="hidden" id="idVerContacto">{{ idcontacto }}</h1>{% endif %}
    {% if nombre%}
        <h1 class="text-center">{{ nombre }}</h1>
    {% endif %}
    
    <div class="container" id="listaRatings">
        <div class="row">
            <div class="col-md-6">
                <center>
                    <button id="abrirFormComentario" class="btn btn-success">Agregar Nuevo</button>
                </center>
                <div id="PadreComentarios">
                    <div id="contenedorFormularioComentario" class="container">
                        <input type="hidden" id="comentario2">
                        <div id="divComentario" class="form-group text-center col-md-5 col-xs-12">
                            <label for="comentario" class="control-label">Comentario</label>
                            <input type="text" class="form-control" id="comentario" placeholder="Comentario">  
                            <button id="btnAccion" type="button" class="btn btn-primary">Comentar</button>     
                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button>
                        </div>                
                    </div>
                          
                    <table id="tblComentarios" >
                        <thead>
                            <th>Comentario</th>
                            <th>Creado por</th>
                            <th>Foto</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody></tbody>
                    </table>

                    
                </div>
            </div>     
            <div class="col-md-6">
                <center>
                    <button id="btnCrearRate" type="button" class="btn btn-success">Crear Rate</button>
                    <button id="btnRate" type="button" class="btn btn-primary">Guardar Rate Personal</button>
                </center>
                <div id="PadreRatings">
                    <ul id="RatingPersonal" class="list-group list-group-flush text-center"></ul>
                    <div id="RatingsGENERALES" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center">Ratings<span class="glyphicon glyphicon-saved pull-right"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" id="promedio"></p>
                        </div>
                        <ul id="tablitaRatings" class="list-group list-group-flush text-center">
                        </ul>                
                    </div>
                     <center>
                        <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Primera" id="primeraPaginaRatings">
                                <span class="glyphicon glyphicon-backward"></span>
                                <span class="sr-only">Primera</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Anterior" id="anteriorPaginaRatings">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Anterior</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#" id="paginaActualRatings"></a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Siguiente" id="siguientePaginaRatings">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Siguiente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Ultima" id="ultimaPaginaRatings">
                                <span class="glyphicon glyphicon-forward"></span>
                                <span class="sr-only">Última</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                        <label id="totalRatings" class="text-primary"></label>
                    </center>
                </div>
            </div>                
        </div>       
        

        <div class="form-group">
            <div class="row">
                <center>
                    <div id="spinner_rate" class="text-center"></div>
                </center>
            </div>
        </div>

        

        

    </div>
    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}