{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Items de Menú
{% endblock %}

{% block active_menu %}
    active_propia
{% endblock %}

{% block css_menu %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    
    <script src="{% static 'principal/scripts/menu_readonly.js' %}"></script>
    
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span style="padding: 0.3em;color: #D95459;text-decoration: none;font-family: 'Muli-Regular';"><a href="/menus">Menús</a></span>
    <i class="fa fa-angle-right"></i>
    <span>Items de Menú</span>
{% endblock %}

{% block contenido_full %}
    <hr>
    <h1 class="text-center">Items de Menú</h1>    
    <center>
        <img src="{% static 'principal/imgs/items_ro.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    
    
    <table id="tblItems">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody id="contenido_tabla">
            {% if items%}
            {% for i in items %}
            <tr>
                
                <td>{{i.pk}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.precio}}</td>
                <td>{{i.CatMenu}}</td>
                
            </tr>
            {%endfor%}
            {% else%}
            {%endif%}
        </tbody>
    </table>
    
    
{% endblock %}


