{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Menús
{% endblock %}

{% block active_menu %}
    active_propia
{% endblock %}

{% block css_menu %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    
    <script src="{% static 'principal/scripts/categorias.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    
    <script src="{% static 'principal/scripts/menu_readonly.js' %}"></script>
    
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Menús</span>
{% endblock %}

{% block contenido_full %}
    <hr>
    <h1 class="text-center">Menús</h1>    
    <center>
        <img src="{% static 'principal/imgs/menu_nuevo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    
    
    <table id="tblMenus">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Establecimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="contenido_tabla">
            {% if menus%}
            {% for m in menus%}
            <tr>
                <td>{{m.pk}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.contacto__nombre}}</td>
                <td>
                    <a href='#' onclick='ver_items({{m.pk}})'><span title='Ver Items' style='color:#ffc455; font-size:20px;' class='glyphicon glyphicon-glass'></span> </a>
                </td>
                
            </tr>
            {%endfor%}
            {% else%}
            {%endif%}
        </tbody>
    </table>
    
    
{% endblock %}


