{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highcharts Example</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <style type="text/css">
        ${demo.css}
        </style>
    
        <script type="text/javascript">
            $(document).on('ready',function(){
                var nombre=$('#nombre').html();
                var total=$('#total').html();
                var texto='Monto de '+String(nombre);
                if(nombre==null){
                    texto="Ese usuario no tiene monto";
                }
                $(function () {
                    $('#container').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: texto
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.y}RD$</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.y} RD$',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: "Monto Total",
                            colorByPoint: true,
                            data: [{
                                name: String(nombre),
                                y: parseFloat(total)
                            }]
                        }]
                    });
                });
            });
            
        </script>
    </head>

    <body>
        {% for i in importante %}
        <h1 style="display: none;" id="nombre">{{i.usuario__usuario}}</h1>
        <h1 style="display: none;" id="total">{{i.total}}</h1>
        {% endfor%}
        <script src="{% static 'principal/js/highcharts.js' %}"></script>
        <script src="{% static 'principal/js/exporting.js' %}"></script>

        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>        

    </body>
</html>
