{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="utf-8">
  <title>Reporte de pedido</title>
</head>
<body>
  <div class="container">
    <div>
      <h1 class="text-center">Reporte de Pedidos</h1> 
    </div>
    
    <h1>{{importante.pedido}}</h1>
    <h2 class="text-center">Pedido</h2>    
        
    {% for p in pedido %}
    <div class="jumbotron">
      <div class="row" style="padding:10px;background-color:#464244;">
          <div class="col-md-4">
            <label class="label label-danger">Descripción:</label>
            <span style='color:#fff;'>{{p.descripcion}}</span>
          </div>
          <div class="col-md-4">
            <label class="label label-danger">Fecha:</label>
            <span style='color:#fff;'>{{p.fecha}}</span>
          </div>
          <div class="col-md-4">
            <label class="label label-danger">Estado:</label>
            <span style='color:#fff;'>{{p.estado}}</span>
          </div>
        </div>
      <h3 class="detalles">Detalles</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
                <th class='text-center'>ITEM</th>
                <th class='text-center'>CANTIDAD</th>
                <th class='text-center'>PRECIO</th>
                <th class='text-center'>IMPORTE</th>
            </tr>
          </thead>
          <tbody>
            {% for d in detalles %}
              <tr>
                  <td class='text-center'>{{d.item__nombre}}</td>
                  <td class='text-center'>{{d.cantidad}}</td>
                  <td class='text-center'>{{d.precio}}</td>
                  <td class='text-center'>{{d.importe}}</td>
              </tr>
            {% endfor %}
            <tr>
            <td colspan="2" class="text-center">Totales</td>

            {% if p.itbis%}
                <td colspan="1" class="text-center">Itbis<h2>{{p.total|mul:"0.18"}}</h2></td>
                <td colspan="1" class="text-center text-danger">Total <h2>{{p.total}}</h2></td>                 
              {% else %}
                <td colspan="1" class="text-center">Itbis<h2>0</h2></td>
              <td colspan="1" class="text-center text-danger">Total <h2>{{p.total}}</h2></td>     
              {%endif%}               
          </tr>
          </tbody>
      </table>
    </div>
    {% endfor %}  
       

  </div>
</body>
</html>


