{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'principal/imgs/logo.ico' %}" />
        <title>{% block titulo %}{% endblock %} </title><!--BLOQUE TITULO-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords">
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar(){
				window.scrollTo(0,1);
			}
		</script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Custom Theme files -->
		<link href="{% static 'principal/css/style.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'principal/css/font-awesome.css' %}" rel="stylesheet">
        <script src="{% static 'principal/js/jquery.min.js' %}"> </script>
		<!-- Mainly scripts -->
		<script src="{% static 'principal/js/jquery.metisMenu.js' %}"></script>
		<script src="{% static 'principal/js/jquery.slimscroll.min.js' %}"></script>
		<!-- Custom and plugin javascript -->
		<link href="{% static 'principal/css/custom.css' %}" rel="stylesheet">
		<script src="{% static 'principal/js/custom.js' %}"></script>
		<script src="{% static 'principal/js/screenfull.js' %}"></script>
        <!--Adicionales a la base-->
        <link rel="stylesheet" href="{% static 'principal/css/alertify.core.css' %}">
        <link rel="stylesheet" href="{% static 'principal/css/alertify.default.css' %}">
        <script src="{% static 'principal/js/alertify.min.js' %}"></script>
		<script>
                $(function () {
                    $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
                    if (!screenfull.enabled) {
                        return false;
                    }
                    $('#toggle').click(function () {
                        screenfull.toggle($('#container')[0]);
                    });
            });
		</script>

        <script src="{% static 'principal/js/jquery.auto-complete.js' %}"></script>
        <link rel="stylesheet" href="{% static 'principal/css/jquery.auto-complete.css' %}">
        {% block scripts_adicionales %}

        {% endblock %}
        <script src="{% static 'principal/js/skycons.js' %}"></script>
        <script src="{% static 'principal/scripts/notificacion.js' %}"></script>

        <script type="text/javascript">
            $(document).on('ready',function(){
                
                $.ajax({
                    type:'GET',
                    url:'/cual_es_mi_foto',
                    success:function(respuesta)
                    {
                        for(var i=0;i<respuesta.length;i++){
                            ruta_foto="/media/"+respuesta[i]['imagen'].substring(2);                            
                            if(ruta_foto=="/media/"){
                                ruta_foto="/media/nofoto.png";
                            }
                            $('#fotoDePerfil').attr('src',ruta_foto);
                        }
                        
                    }
                })
            });
            audio=function(){
                var reproducir=new Audio();
                reproducir.src="{% static 'principal/sounds/notification.mp3' %}";
                reproducir.play();                
            }
        </script>
	</head>
	<body>

        {% for p in preferencias %}
        <input type="text" class="hidden" value="{{p.n_alerta}}" id="txtNAlerta">
        <input type="text" class="hidden" value="{{p.n_correo}}" id="txtNCorreo">
        <input type="text" class="hidden" value="{{p.n_sonido}}" id="txtNSonido">
        <input type="text" class="hidden" value="{{p.horas}}" id="txtHoras">
        <input type="text" class="hidden" value="{{p.minutos}}" id="txtMinutos">
        {% endfor %}
        <!--
        <style type="text/css">
            #audio_fb{
                display: none;
            }
        </style>
        <audio id="audio_fb" controls preload>
            <source src="{% static 'principal/sounds/notification.mp3' %}" type="audio/ogg" />
            <source src="{% static 'principal/sounds/notification.mp3' %}" type="audio/mpeg" />
        </audio>-->
        
        {%if sesion%}
        <input class="hidden" type="text" id="txtRol" value="{{sesion.rol}}">
        {%endif%}
        <div id="wrapper">
            <nav class="navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<h1> <a class="navbar-brand" href="/principal">Delivery App</a></h1>
			    </div>
                <style>
                    h1 a.navbar-brand{
                        background-color: #ffc455;
                    }
                    .navbar-header{
                        background-color: #ffc455;
                    }
                </style>

				<div class=" border-bottom">
                	<div class="full-left">
                        <section class="full-top">
                            <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
						</section>
						
                        <div class="clearfix"> </div>
                    </div>
                	<div class="drop-men">
                        <ul class=" nav_1">
                            <li id="notificacion_alertas" class="dropdown at-drop" role="menu">
                              <a href='#' class='dropdown-toggle dropdown-at' data-toggle='dropdown'><i class='fa fa-envelope'></i> <span id="totalNotificaciones" class='number'></span> </a>  

                              <ul class='dropdown-menu menu1' id="contenidoNotificaciones"  role='menu' style="height: 400px; overflow-y: scroll;">
                                
                              </ul>

                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret btn btn-warning">{% block nombre_usuario_2 %}{% endblock %}<i class="caret"></i></span><img id="fotoDePerfil" width="64px" height="64px" class="img-circle" ></a>
							    <ul class="dropdown-menu " role="menu">
                                    <li><a href="/ver_mi_perfil"><i style="color:#FFC300;" class="fa fa-user" aria-hidden="true"></i><span style="color:#2E2B61;">Ver Perfil</span></a></li>
                                    <li><a href="/cambiar_clave"><i style="color:#FFC300;" class="fa fa-key" aria-hidden="true"></i><span style="color:#2E2B61;">Cambiar Clave</span></a></li>
                                    <li><a href="/cerrar_sesion"><i style="color:#FFC300;" class="fa fa-sign-out"></i><span style="color:#2E2B61;">Cerrar Sesión</span></a></li>                                    
                                </ul>
                            </li>
					    </ul>
		            </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix">

                    </div>
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav in" id="side-menu">
                                <li>
                                    <a href="/principal" class="hvr-bounce-to-right active"><i style="color:#FFC300;" class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                                </li>
                                {% if es_admin %}
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-indent nav_icon"></i> <span class="nav-label" >Administración</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li class="{% block active_A_usuarios %}{% endblock %}"><a style="{% block css_usuarios %}{% endblock %}" href="/administracion/usuarios" class=" hvr-bounce-to-right"> <i style="color:#C70039;" class="fa fa-users nav_icon"></i><span style="color:#2E2B61;">Usuarios</span></a></li>
                                        <li class="{% block active_A_categoria%}{% endblock %}"><a style="{% block css_categoria %}{% endblock %}" href="/administracion/categorias" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-map-marker nav_icon"></i><span style="color:#2E2B61;">Categorías</span></a></li>
                                        <li class="{% block active_A_contacto %}{% endblock %}"><a style="{% block css_contactos %}{% endblock %}" href="/administracion/contactos" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-file-text-o nav_icon"></i><span style="color:#2E2B61;">Establecimientos</span></a></li>
                                        <li class="{% block active_A_cat_menu %}{% endblock %}"><a style="{% block css_cat_menus %}{% endblock %}" href="/administracion/categoria_menus" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-list nav_icon"></i><span style="color:#2E2B61;">Categorías de Menú</span></a></li>
                                        <li class="{% block active_A_menu %}{% endblock %}"><a style="{% block css_menus %}{% endblock %}" href="/administracion/menus" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-coffee nav_icon"></i><span style="color:#2E2B61;">Menús</span></a></li>                                       
                                        <li class="{% block active_A_sugerencias %}{% endblock %}"><a style="{% block css_sugerencias %}{% endblock %}" href="/administracion/sugerencias" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-bell nav_icon"></i><span style="color:#2E2B61;">Sugerencias</span></a></li>
                                        <li class="{% block active_A_montos %}{% endblock %}"><a style="{% block css_montos %}{% endblock %}" href="/administracion/montos" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-credit-card-alt nav_icon"></i><span style="color:#2E2B61;">Montos</span></a></li>
                                        <li>
                                            <a href="#" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-indent nav_icon"></i> <span class="nav-label"><span style="color:#2E2B61;">Reportes</span></span><span class="fa arrow"></span></a>
                                            <ul>
                                                <li class=""><a style="" target="_blank" href="/reporte_total_pedidos" class=" hvr-bounce-to-right"> <i style="color:#C70039;" class="fa fa-book nav_icon"></i><span style="color:#2E2B61;">Todos los Pedidos</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="administracion" class=" hvr-bounce-to-right"><i style="color:#C70039;" class="fa fa-wrench nav_icon"></i><span style="color:#2E2B61;">Panel de Control</span></a></li>
                                    </ul>
                                </li>
                                {% endif%}
                                <li>
                                    <a href="/cuadro_de_mandos" class="hvr-bounce-to-right active"><i style="color:#FFC300;" class="fa fa-pie-chart nav_icon "></i><span class="nav-label">Cuadro de Mandos</span> </a>
                                </li>
                                <!-- Solo si es CONTACTO -->
                                {% if es_contacto %}
                                    <li>
                                        <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-rocket nav_icon"></i> <span class="nav-label">Órdenes</span><span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse">
                                            <li class="{% block active_d_pedido2 %}{% endblock %}"><a style="{% block css_d_pedido2 %}{% endblock %}" href="/pedidos" class=" hvr-bounce-to-right"> <i style="color:#FFC300;" class="fa fa-users nav_icon"></i><span style="color:#2E2B61;">Pedidos</span></a></li>                                            
                                        </ul>
                                    </li>
                                {% else %}
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-university nav_icon"></i> <span class="nav-label">Directorio</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li class="{% block active_d_contacto %}{% endblock %}"><a style="{% block css_d_contacto %}{% endblock %}" href="/contacto" class=" hvr-bounce-to-right"> <i style="color:#FFC300;" class="fa fa-users nav_icon"></i><span style="color:#2E2B61;">Establecimientos</span></a></li>
                                        <li class="{% block active_d_sugerencia %}{% endblock %}"><a style="{% block css_d_sugerencia %}{% endblock %}" href="/sugerencia" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-file-text-o nav_icon"></i><span style="color:#2E2B61;">Adm. Sugerencias</span></a></li>
                                        <li class="{% block active_d_admin_sugerencia %}{% endblock %}"><a style="{% block css_d_admin_sugerencia %}{% endblock %}" href="/admin_sugerencia" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-bell nav_icon"></i><span style="color:#2E2B61;">Mis Sugerencias</span></a></li>
                                        <li class="{% block active_menu %}{% endblock %}"><a style="{% block css_menu %}{% endblock %}" href="/menus" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-coffee nav_icon"></i><span style="color:#2E2B61;">Menús</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-rocket nav_icon"></i> <span class="nav-label">Órdenes</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li class="{% block active_d_pedido %}{% endblock %}"><a style="{% block css_d_pedido %}{% endblock %}" href="/pedidos" class=" hvr-bounce-to-right"> <i style="color:#FFC300;" class="fa fa-users nav_icon"></i><span style="color:#2E2B61;">Pedidos</span></a></li>
                                        <li class="{% block active_d_mispedido %}{% endblock %}"><a style="{% block css_d_mispedido %}{% endblock %}" href="/mispedidos" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-bell nav_icon"></i><span style="color:#2E2B61;">Mis Pedidos</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-object-group nav_icon"></i> <span class="nav-label">Grupos</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li class="{% block active_d_equipo %}{% endblock %}"><a style="{% block css_d_equipo %}{% endblock %}" href="/equipos" class=" hvr-bounce-to-right"> <i style="color:#FFC300;" class="fa fa-users nav_icon"></i><span style="color:#2E2B61;">Equipos</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-plus nav_icon"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>                                    
                                    <ul class="nav nav-second-level collapse">                                        
                                       <li class=""><a style="" target="_blank" href="/reporte_mis_pedidos" class=" hvr-bounce-to-right"> <i style="color:#FFC300;" class="fa fa-book nav_icon"></i><span style="color:#2E2B61;">Mis Pedidos</span></a></li>
                                    </ul>
                                </li>
                    
                                <li>
                                    <a href="#" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-plus nav_icon"></i> <span class="nav-label">Mas</span><span class="fa arrow"></span></a>
                                    
                                    <ul class="nav nav-second-level collapse">                                        
                                        <li class="hidden"><a href="#" class=" hvr-bounce-to-right" id="rolUser">{% block rol %}{% endblock %}</a></li>
                                        <li class="hidden"><a href="#" class=" hvr-bounce-to-right" id="idUser">{% block id_usuario %}{% endblock %}</a></li>
                                        <li class="hidden"><a href="#" class=" hvr-bounce-to-right" id="nombreUsuario_">{% block nombreUsuario_ %}{% endblock %}</a></li>
                                        <li><a href="/ver_mi_perfil" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-user nav_icon"></i><span style="color:#2E2B61;">{% block nombre_usuario %}{% endblock %}</span></a></li>
                                        <li class="{% block active_d_configuracion %}{% endblock %}"><a style="{% block css_d_configuracion %}{% endblock %}" href="/miconfiguracion" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-cogs nav_icon"></i><span style="color:#2E2B61;">Configuración</span></a></li>

                                        <li><a href="/cerrar_sesion" class=" hvr-bounce-to-right"><i style="color:#FFC300;" class="fa fa-sign-out nav_icon"></i><span style="color:#2E2B61;">Cerrar Sesión</span></a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
			<div id="page-wrapper" class="gray-bg dashbard-1" >
                <div class="content-main">
                    <!--banner-->
                    <div class="banner">
                        <h2>
                            <a href="/principal">Principal</a>
                            {% block pagina_actual %}{% endblock %}
					    </h2>
		            </div>
    				<!--//banner-->
                    {% block contenido_full %}{% endblock %}
				    <div class="copy">
					   <p> © 2016 Delivery App. Todos los derechos reservados | Desarrollada por <a href="#" target="_blank">Edward Rosado</a> </p>
	    	          </div>
			    </div>
			    <div class="clearfix"> </div>
            </div>
        </div>
   
        
	 <!--NO BORRAR js-->
	 <script src="{% static 'principal/js/jquery.nicescroll.js' %}"></script>
	 <script src="{% static 'principal/js/scripts.js' %}"></script>
	 <!--//scrolling js-->
	 	<script src="{% static 'principal/js/bootstrap.min.js' %}"> </script>
	</body>
</html>
