{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'principal/imgs/logo.ico' %}" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block titulo %}{% endblock %} </title><!--BLOQUE TITULO-->
        <link rel="stylesheet" href="{% static 'principal/css/font-awesome.min.css' %}">
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'principal/css/style2.css'%}">
        <link rel="stylesheet" href="{% static 'principal/css/alertify.core.css' %}">
        <link rel="stylesheet" href="{% static 'principal/css/alertify.default.css' %}">
        <script src="{% static 'principal/js/index.js' %}"></script>
        <script src="{% static 'principal/js/alertify.min.js' %}"></script>


        <!--SCRIPTS Lógica-->
        <script src="{% static 'principal/scripts/main.js' %}"></script>

        {% block scripts_adicionales %}
        {% endblock %}
        <style>
            body
            {
                background-image:url('{% static 'principal/imgs/bg-login-3.jpg' %}');
                background-repeat: no-repeat;
                

            }
        </style>
    </head>
    <body id="cuerpo">
        {% if menu == "SI" %}
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle Navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="principal">Sistema Ordenes</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li class="dropdown-header">Directorio</li>
                                  <li class="{% block active_d_contacto %}{% endblock %}"><a href="contacto">Contactos</a></li>
                                  <li><a href="">Categorías</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li class="dropdown-header">Sugerencias</li>
                                  <li class="{% block active_d_sugerencia %}{% endblock %}"><a href="sugerencia">Crear Sugerencia</a></li>
                                  <li><a href="admin_sugerencia">Administrar mis Sugerencias</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if es_admin %}
                                    <li><a href="/administracion">Panel de Adminitración</a></li>
                                {% endif %}
                                <li><a href="#">{% block nombre_usuario %}{% endblock %}</a></li>
                                <li><a href="cerrar_sesion">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endif %}
        <!--<div class="container-fluid">
          <div class="row" style="background:#c5454e;">
            <center><img src="{% static 'principal/imgs/logo.png' %}" width="100px" alt="LOGO" /></center>
            <div class="col-xs-12 ">
              <h1 class="text-center" style="color:#ffffff;">Sistema de Ordenes</h1>
            </div>
          </div>
        </div>
        <br><br>
        -->
        {% block contenido %} <!--BLOQUE CONTENIDO-->
        {% endblock %}
    </body>
</html>
