{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Contacto
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/cambio_clave.js' %}"></script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Cambio de Contraseña</span>
{% endblock %}

{% block contenido_full %}
    

    
    <hr>
    <h1 class="text-center">Deseas cambiar tu contraseña?</h1>    
    <center>
        <img src="{% static 'principal/imgs/password.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_cambio_clave" class="text-center"></div>
            </center>
        </div>
    </div>
    <div id="contenedorFormulario" class="container">
            <form id="form_cambio_clave" enctype="multipart/form-data">{% csrf_token %}
                <div class="row row-flex row-flex-wrap">
                    {% for c in clave%}
                    <input id="txtClaveActual" type="text" value="{{c.clave}}" class="hidden">
                    {% endfor %}
                    <div id="divClaveOriginal" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="claveAnterior">Introduzca la clave actual</label>
                        <input type="password" class="form-control" id="claveAnterior" placeholder="Clave Actual">
                    </div>
                    <div id="divClaveNueva1" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="claveNueva">Introduzca la clave nueva</label>
                        <input type="password" class="form-control" id="claveNueva" placeholder="Introduzca la clave nueva">
                    </div>
                    <div id="divClaveNueva2" class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="claveNueva2">Repita la clave Nueva</label>
                        <input type="password" class="form-control" id="claveNueva2" placeholder="Repita la clave Nueva">
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="row">
                        <center>
                            <button id="btnCambiarClave" type="submit" class="btn btn-success">Cambiar Contraseña</button>
                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}


