{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Configuración de Notificaciones
{% endblock %}

{% block active_d_configuracion %}
    active_propia
{% endblock %}

{% block css_d_configuracion %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/configuracion.js' %}"></script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Configuración de Notificaciones</span>
{% endblock %}

{% block contenido_full %}
    

    
    <hr>
    {% for p in preferencias %}
    <input type="text" class="hidden" value="{{p.n_alerta}}" id="txtNAlerta">
    <input type="text" class="hidden" value="{{p.n_correo}}" id="txtNCorreo">
    <input type="text" class="hidden" value="{{p.n_sonido}}" id="txtNSonido">
    <input type="text" class="hidden" value="{{p.horas}}" id="txtHoras">
    <input type="text" class="hidden" value="{{p.minutos}}" id="txtMinutos">
    {% endfor %}
    <h1 class="text-center">Configuración de Notificaciones</h1>    
    <center>
        <img src="{% static 'principal/imgs/configuracion_notificaciones.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_cambio_clave" class="text-center"></div>
            </center>
        </div>
    </div>
    <div id="contenedorFormulario" class="container">
            <form id="form_configuracion" enctype="multipart/form-data">{% csrf_token %}
                <div class="row row-flex row-flex-wrap">
                    <div id="divEnviarCorreo" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="chkCorreo">Recibir correo de notificaciones</label>
                        <input type="checkbox" class="form-control" id="chkCorreo" >
                    </div>
                    <div id="divEnviarAplicacion" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="chkAplicacion">Recibir las notificaciones</label>
                        <input type="checkbox" class="form-control" id="chkAplicacion">
                    </div>
                    <div id="divSonido" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="chkSonido">Reproducir Sonido</label>
                        <input type="checkbox" class="form-control" id="chkSonido">
                    </div>  
                    <div id="divHoras" class="form-group text-center col-md-3 col-xs-12">
                        <label class="control-label" for="horas">Pre-Alerta Horas(Formato de 24)</label>
                        <input type="number" class="form-control" id="horas">
                    </div> 
                    <div id="divMinutos" class="form-group text-center col-md-3 col-xs-12">
                        <label class="control-label" for="minutos">Pre-Alerta Minutos</label>
                        <input type="number" class="form-control" id="minutos">
                    </div>                      
                </div>
                <div class="form-group">
                    <div class="row">
                        <center>
                            <button id="btnGuardarCambios" type="submit" class="btn btn-success">Guardar Cambios</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}


