{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Cuadro de Mandos
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}
{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/mi_perfil.js' %}"></script>
    
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Cuadro de Mandos</span>
{% endblock %}

{% block contenido_full %}  
	<div class="inbox-mail">
		<div class="col-md-4 compose">
			<h2>Top 5 Establecimientos</h2>
            <nav class="nav-sidebar">
            	<ul class="nav tabs">
            		{% for contacto in top5contactos %}
						<li class="active">
	            			<a href="#tab1" data-toggle="tab">
	            				{{contacto.contacto__nombre}}
	            				<span>{{contacto.cantidad}}</span>
	            				<div class="clearfix"></div>
	            			</a>
	            		</li>
            		{%endfor%}            		
				</ul>
			</nav>

			<div class="content-box">
				<ul>
					<li class="text-center"><span>Últimos 3 Establecimientos insertados</span></li>
					
									
					{% for contacto in ultimos3contactos %}
						<li class="text-center"><a href="#">{{contacto.nombre}}</a></li>
            		{%endfor%}	
				</ul>
        	</div>
		</div>
		<!-- tab content -->
		<div class="col-md-8 tab-content tab-content-in">
			<div class="tab-pane active text-style" id="tab1">
				<div class="inbox-right">
					<div class="mailbox-content">
						<div class="mail-toolbar clearfix">						
						    <div class="content-box">
								<ul>
									<li class="text-center"><span>Últimos 10 Comentarios</span></li>												
								</ul>
				        	</div>				
               			</div>
                		<table class="table">
                			<tbody>
                				{% for comentario in comentarios10 %}
                					<tr class="table-row">
	                					<td class="table-img">
	                						{% if comentario.usuario__imagen == '/media/'%}
				                            	<img width="60px" height="60px" src="/media/nofoto.png" alt="">
				                            {%else %}
				                            	<img width="60px" height="60px" src="/media/{{comentario.usuario__imagen}}" alt="">
				                            {%endif %}
	                						
	                            		</td>
			                            <td class="table-text">
			                            	<h6> {{comentario.usuario__nombre}}</h6>
			                                <p>{{comentario.comentario}}</p>
			                            </td>
			                            <td>
			                            	<span class="fam">{{comentario.contacto__nombre}}</span>
			                            </td>
			                            <td class="march">
			                               {{comentario.fecha}}
			                            </td>		                          
			                             <td>
										 <i class="fa fa-star-half-o icon-state-warning"></i>		                                
			                            </td>
	                        		</tr>
                				{% endfor %}                	                       
                    		</tbody>
                		</table>
               		</div>
        		</div>
			</div>
        </div>
	<div>
                
{% endblock%}