{% extends 'principal/base.html' %}
{% load staticfiles %}
{% block titulo %}Login/Registro de Usuarios{% endblock %}


{% block contenido %}
    <style type="text/css">

        .centro{
            position: relative;
            top: 100px;
        }

    </style>
    <h1 style="color:#ffffff;" class="text-center">Delivery App</h1>
    <div class="container centro">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="registro-form-link">Registro</a>
                            </div>
                            <!--
                            <div class="col-xs-4">
                                <a href="#" id="credencial-form-link">Iniciar sesión como</a>
                            </div>
                            -->
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <form id="login-form" action="#" method="post" role="form" style="display: block;">{% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="usuario" id="usuario" tabindex="1" class="form-control" placeholder="Usuario" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="contraseña" id="contraseña" tabindex="2" class="form-control" placeholder="Contraseña" required>
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3"  name="recordar" id="recordar">
                                        <label for="recordar"> No cerrar sesión</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="btnLogin" id="btnLogin" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="#" tabindex="5" class="forgot-password">Olvidaste la contraseña?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div id="spinner_login" class="text-center"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <h3 id="mensaje_error_login" class="text-center mensaje_error"></h3>
                                                <h3 id="mensaje_exito_login" class="text-center mensaje_exito"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="registro-form" action="#" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="nombre_creacion" id="nombre_creacion" tabindex="1" class="form-control" placeholder="Nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="usuario_creacion" id="usuario_creacion" tabindex="1" class="form-control" placeholder="Usuario" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email_creacion" id="email_creacion" tabindex="2" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="direccion_creacion" id="direccion_creacion" tabindex="2" class="form-control" placeholder="Dirección" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="contraseña_creacion" id="contraseña_creacion" tabindex="3" class="form-control" placeholder="Contraseña" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="contraseña_creacion2" id="contraseña_creacion2" tabindex="4" class="form-control" placeholder="Confirme la Contraseña" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="btnRegistrar" id="btnRegistrar" tabindex="5" class="form-control btn btn-register" value="Registrar Ahora">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div id="spinner_register" class="text-center"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <h3 id="mensaje_error_registro" class="text-center mensaje_error"></h3>
                                                <h3 id="mensaje_exito_registro" class="text-center mensaje_exito"></h3>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}


