{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Mi Perfil
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}


{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/mi_perfil.js' %}"></script>


    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
      
      <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#tblEquipos').DataTable({
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ equipos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay equipos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ equipos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                }
                ,
                  "aoColumnDefs": [
                      { "sClass": "text-center", "aTargets": [0] }
                    ]            
              });
        });
    </script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Mi perfil</span>
{% endblock %}

{% block contenido_full %}  
    
    <div class="row">
        <div class="col-md-12">
        
            <div class="col-md-3 col-xs-12">
                <br>
                {% for user in usuario %}
                    {% if user.imagen %}
                    <center><img class="img-circle" width="300px" height="300px" id="fotico" src="/media/{{user.imagen}}"></center>
                    {%else%}
                    <center><img class="img-circle" width="300px" height="300px" id="fotico" src="/media/nofoto.png"></center>                    
                    {%endif %}
                {%endfor %}  

                <center>
                    <form id="form_foto" enctype="multipart/form-data">
                        {% csrf_token %}   
                        <input type="file" class="form-control" style="display: none;" id="imagen">   
                        <button type="submit" id="editarFoto" class="btn btn-success">Editar foto</button>
                    </form>                
                </center>
            </div>
            <div class="col-md-9 col-xs-12">
                {% for user in usuario %}
                    <div class="container">
                        <div class="form-group col-md-9 col-xs-12">
                            <div id="divNombre" class="col-md-4 col-xs-12">
                                <input type="hidden" id="rol" value="{{user.rol__rol}}">
                                <strong>Nombre:</strong>       
                                                              
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control" style="display:none;" name="nombre" id="nombre" value="{{user.nombre}}">
                                <span id="sNombre" class="label label-danger">{{user.nombre}}</span>
                            </div>
                            <div class="col-md-4 col-xs-12 col-md-offset-11">
                                <button id="editarNombre" class="btn btn-warning">Editar</button>
                            </div>                              
                        </div>
                        <div class="form-group col-md-9 col-xs-12">
                            <div id="divCorreo" class="col-md-4 col-xs-12">
                                <strong>Correo:</strong>      
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="email" class="form-control" style="display:none;" name="correo" id="correo" value="{{user.correo}}">
                                <span id="sCorreo" class="label label-danger">{{user.correo}}</span>
                            </div>  
                            <div class="col-md-4 col-xs-12 col-md-offset-11">
                                <button id="editarCorreo" class="btn btn-warning">Editar</button>
                            </div>                              
                        </div>
                        <div class="form-group col-md-9 col-xs-12">
                            <div id="divDireccion" class="col-md-4 col-xs-12">
                                <strong>Dirección:</strong>      
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control" style="display:none;" name="direccion" id="direccion" value="{{user.direccion}}">
                                <span id="sDireccion" class="label label-danger">{{user.direccion}}</span>
                            </div>  
                            <div class="col-md-4 col-xs-12 col-md-offset-11">
                                <button id="editarDireccion" class="btn btn-warning">Editar</button>
                            </div>                              
                        </div>
                        <div class="form-group col-md-9 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <strong>Clave:</strong>                                                      
                            </div>                            
                            <div class="col-md-4 col-xs-12">
                                <span class="label label-danger">**********</span>                                                             
                            </div>   
                            <div class="col-md-4 col-xs-12 col-md-offset-11">
                                <a href="/cambiar_clave" class="btn btn-warning">Editar</a>
                            </div>
                                                       
                        </div>  
                        <div class="form-group col-md-9 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <strong>Rol:</strong>
                            </div>   
                            <div class="col-md-4 col-xs-12">
                                <span class="label label-danger">{{user.rol__rol}}</span>
                            </div>                                                       
                        </div>
                        <div class="form-group col-md-9 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <strong>Equipos:</strong>
                            </div>   
                            <div class="col-md-4 col-xs-12">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEquipos">Ver Equipos</button>
                            </div>                                                       
                        </div>
                        <div class="form-group col-md-9 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <strong>Configuración de Notificaciones:</strong>
                            </div>   
                            <div class="col-md-4 col-xs-12">
                                <a href="/miconfiguracion" class="btn btn-warning">Editar</a>
                            </div>                                                       
                        </div>
                                              
                        
                    </div>
                     
                {%endfor %}            
                
            </div>
        </div>
        
    </div>
    <!-- Trigger the modal with a button -->
    

    <!-- Modal -->
    <div id="modalEquipos" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Equipos</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tblEquipos">
                    <thead>
                        <tr>
                            <th class="text-center">Equipos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                            <tr>
                                {% if equipo.equipo__usuario_creacion == equipo.usuario__usuario %}
                                    <td><span class="label-success">Creador</span>{{equipo.equipo__nombre}}</td>
                                {% else %}
                                    <td>
                                        <span class="label-info">Miembro</span>{{equipo.equipo__nombre}}
                                    </td>
                                {% endif %}
                                
                                
                            </tr>
                        {%endfor %}  
                    </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

{% endblock %}