{% extends 'principal/base_nueva.html' %}
{% load staticfiles %}
{% block titulo %}Activación de Usuario{% endblock %}
     {% block header %}
        <h1 style="color:#fff" class="text-center">Activación de Usuario</h1>
    {% endblock %}
{% block contenido_full %}
    <div class="container">

        <div class="jumbotron text-center">
            {% if mensaje %}
                {% if mensaje == "ACTIVADO" %}
                    <p class="lead">El usuario que intenta activar, ya se encuentra activado</p>
                    <p><a href="/" class="btn btn-lg btn-success">Inicio</a></p>
                    <p class="text-right">{{ hora }}</p>
                {% endif %}
                {% if mensaje == "SI" %}
                    <p class="lead">Listo!!!, Ya el usuario se encuentra activado.</p>
                    <p><a href="/" class="btn btn-lg btn-success">Inicio</a></p>
                    <p class="text-right">{{ hora }}</p>
                {% endif %}
                {% if mensaje == "ERROR" %}
                    <p class="lead text-danger">Código inválido!!!</p>
                    <p><a href="/" class="btn btn-lg btn-success">Inicio</a></p>
                {% endif %}
                {% if mensaje == "EXPLOTO" %}
                    <p class="lead text-danger">Código inválido!!!</p>
                    <p><a href="/" class="btn btn-lg btn-success">Inicio</a></p>
                {% endif %}
                {% else %}
            {% endif %}
        </div>
    </div>

{% endblock %}