{% extends 'principal/base_nueva.html' %}


{% load staticfiles %}


{% block titulo %}
    Principal
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
    {% block rol %}{{ sesion.rol }}{% endblock %}
{% endif %}

{% block scripts_adicionales %}

{% endblock %}

{% block contenido_full %}
    {% if sesion %}
        <div class="jumbotron">
          <div class="alert alert-warning col-md-6 col-md-offset-3 col-xs-12 text-center" role="alert">Bienvenido a Delivery App</div>
        </div>
        <center>
            <img src="{% static 'principal/imgs/logo.png' %}" class="img-responsive" alt="Cinque Terre">
        </center>
        <div class="text-center">
            <a href="https://drive.google.com/open?id=0B2DI7yx9Df6EVzZnTk5LbXdzajg" class="btn btn-warning">Qué esperas, Descarga la aplicación</a>
        </div>
        
    {% else %}
        <script>location.assign("/");</script>
    {% endif %}
{% endblock %}

