{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Notificaciones
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/todas_notificaciones.js' %}"></script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Todas las Notificaciones</span>
{% endblock %}

{% block contenido_full %}  
    
    <hr>
    <h1 class="text-center">Notificaciones</h1>    
    <center>
        <img src="{% static 'principal/imgs/notificaciones.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>

    <div class="table-responsive container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Tipo-Notificación</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody id="contenido_tabla">
                
            </tbody>
        </table>
    </div>

{% endblock %}


