{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Ver Equipo
{% endblock %}

{% block active_d_equipo %}
    active_propia
{% endblock %}

{% block css_d_equipo %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block nombreUsuario_ %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
    {% block rol %}{{ sesion.rol }}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/detalle_equipos.js' %}"></script>


    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblUsuarios').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ usuarios por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay usuarios disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ usuarios totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3] }
                    ]
            });

            var table2 = $('#tablaModal').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ equipos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay equipos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ equipos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2] }
                    ]
            });
        });
    </script>
    
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span style="padding: 0.3em;color: #D95459;text-decoration: none;font-family: 'Muli-Regular';"><a href="/equipos">Equipo</a></span>
    <i class="fa fa-angle-right"></i>
    <span>Detalle de Equipo</span>
{% endblock %}

{% block contenido_full %}
    


    {% if u_creacion%}<h1 class="hidden" id="u_creacion">{{ u_creacion }}</h1>{% endif %}
    {% if idequipo%}<h1 class="hidden" id="idVerEquipo">{{ idequipo }}</h1>{% endif %}
    {% if equipo%}<h1 id="nombreEquipo"><h1 class="text-center">{{ equipo }}</h1></h1>{% endif %}

    <hr>
    <center>
        <img src="{% static 'principal/imgs/equipos_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>

    <div class="container">
        <div class="row">
            <center>
                <button id="abrirForm" class="btn btn-success">Agregar Usuario</button>
            </center>
        </div>
    </div>
    <div id="contenedorFormulario" class="container">
        <form id="form_agregar_usuarios">{% csrf_token %}
            <div class="row">
                <div class="form-group text-center col-md-6 col-md-offset-3 col-xs-12" id="divUsuarios">
                    <label for="cboUsuarios" class="control-label">Usuario</label>
                    <select class="form-control" id="cboUsuarios">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <center><button id="btnAccion" type="submit" class="btn btn-success">Agregar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_agregar_usuario" class="text-center"></div>
            </center>
        </div>
    </div>

    <h1 class="text-center">Usuarios</h1>
    
    <table id="tblUsuarios">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
   
    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Trigger the modal with a button -->
    <button id="btnVerEquiposModal" type="button" class="btn btn-info hidden" data-toggle="modal" data-target="#modalMasEquipos">Agregar a equipos</button>

    <!-- Modal -->
    <div id="modalMasEquipos" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Seleccione el equipo en donde quiere agregar a <span id="nombreUsuario" class="text-danger"></span></h4>
          </div>
          <div class="modal-body">
              
              <table id="tablaModal">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Equipo</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody id="contenidoEquiposAgregar">
                    
                </tbody>
              </table>
              
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>

{% endblock %}