{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Equipos
{% endblock %}

{% block active_d_equipo %}
    active_propia
{% endblock %}

{% block css_d_equipo %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
    {% block nombreUsuario_ %}{{ sesion.usuario }}{% endblock %}
    {% block rol %}{{ sesion.rol }}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/equipos.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblEquipos').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ equipos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay equipos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ equipos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3] }
                    ]
            });
        });
    </script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Equipos</span>
{% endblock %}

{% block contenido_full %}
    <h1 class="text-center">Equipos</h1>    
    <hr>
    <center>
        <img src="{% static 'principal/imgs/equipos_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <div class="container">
        <div class="row">
            <center>
                <button id="abrirForm" class="btn btn-success">Agregar Equipo</button>
            </center>
        </div>
    </div>
    <div id="contenedorFormulario" class="container">
        <form id="form_registro_equipos">{% csrf_token %}
            <div class="row">
                <input type="hidden" id="equipo2">
                <div class="form-group text-center col-md-6 col-md-offset-3 col-xs-12" id="divEquipo">
                    <label for="equipo" class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="equipo" placeholder="Equipo" >
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <center><button id="btnAccion" type="submit" class="btn btn-success">Guardar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_registro_equipo" class="text-center"></div>
            </center>
        </div>
    </div>
    
    <table id="tblEquipos">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Creado por</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
    
    
{% endblock %}