{% extends 'principal/base_nueva.html' %}

{% load staticfiles %}


{% block titulo %}
    Pedidos
{% endblock %}

{% block active_d_pedido2 %}
    active_propia
{% endblock %}

{% block css_d_pedido2 %}
    color:#fff;
{% endblock %}

{% block active_d_pedido %}
    active_propia
{% endblock %}

{% block css_d_pedido %}
    color:#fff;
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/pedidos.js' %}"></script>

      <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
      <style type="text/css">
          .dtr-title{
              color:#3D4B67;
          }
          .dtr-data{
              color:#2F3031;
          }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#tablaMenus').DataTable({
            responsive: true,
            "language": {
              "search": "Buscar:",
              "searchPlaceholder": "Buscar por columnas",
              "lengthMenu": "Mostrar _MENU_ menús por página",
              "zeroRecords": "Nada encontrado",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No hay menús disponibles",
              "infoFiltered": "(filtrado desde _MAX_ menús totales)",
              "paginate": {
                "previous": "Anterior",
                "next":"Siguiente"
              }
            }
            ,
              "aoColumnDefs": [
                  { "sClass": "text-center", "aTargets": [0,1,2] }
                ]
          });
          
          $('#tablaItems').DataTable({
            
            "language": {
              "search": "Buscar:",
              "searchPlaceholder": "Buscar por columnas",
              "lengthMenu": "Mostrar _MENU_ ítems por página",
              "zeroRecords": "Nada encontrado",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No hay ítems disponibles",
              "infoFiltered": "(filtrado desde _MAX_ ítems totales)",
              "paginate": {
                "previous": "Anterior",
                "next":"Siguiente"
              }
            }
            ,
              "aoColumnDefs": [
                  { "sClass": "text-center", "aTargets": [0,1,2,3,4,5] }
                ]
          });

          $('#tablaVistaDetalles').DataTable({
            responsive: true,
            "language": {
              "search": "Buscar:",
              "searchPlaceholder": "Buscar por columnas",
              "lengthMenu": "Mostrar _MENU_ detalles por página",
              "zeroRecords": "Nada encontrado",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No hay detalles disponibles",
              "infoFiltered": "(filtrado desde _MAX_ detalles totales)",
              "paginate": {
                "previous": "Anterior",
                "next":"Siguiente"
              }
            }
            ,
              "aoColumnDefs": [
                  { "sClass": "text-center", "aTargets": [0,1,2,3] }
                ]            
          });

          var table = $('#tblPedidos').DataTable( {
              rowReorder: {
                  selector: 'td:nth-child(2)'
              },
              responsive: true,
              "language": {
                "search": "Buscar:",
                "searchPlaceholder": "Buscar por columnas",
                "lengthMenu": "Mostrar _MENU_ pedidos por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay pedidos disponibles",
                "infoFiltered": "(filtrado desde _MAX_ pedidos totales)",
                "paginate": {
                  "previous": "Anterior",
                  "next":"Siguiente"
                }
              },"aoColumnDefs": [
                      { "sClass": "text-center", "aTargets": [0,1,2,3,4,5,6,7,8,9,10] }
                  ]
          });
        });
      </script>
{% endblock %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Pedidos</span>
{% endblock %}

{% block contenido_full %}
    <h1 class="text-center">Pedidos</h1>    
   
    <hr>
    <center>
        <img src="{% static 'principal/imgs/pedidos_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <h1 id="txtRolUsuario" class="hidden">{{sesion.rol}}</h1>              
    <div class="container-fluid">
        <div class="row">
            <center>          
                          
                 
                <button id="abrirForm" class="btn btn-success">Realizar Pedido</button>
            </center>
        </div>
    </div>
    
    <div id="contenedorFormulario" class="container-fluid">
        <form id="form_registro_pedidos">{% csrf_token %}

            <div class="row">
                <div class="form-group text-center col-md-6 col-md-offset-3" id="divContacto"> 
                    <label for="contacto" class="control-label">Solo están diponibles <span id="cant_contactos_avaible" style="color:#639950;"></span> establecimientos</label>
                </div> 
                <div class="form-group text-center col-md-6" id="divContacto"> 
                    <label for="contacto" class="control-label">Establecimiento</label>
                    <input id="contacto" class="form-control" autofocus type="text" name="contacto" placeholder="Contacto (Debe presionar Enter)">
                </div>                
                <div class="form-group text-center col-md-6" id="divDescripcion">
                    <label for="descripcion" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="Descripción" >
                </div>
                <div class="form-group text-center col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-info" id="cambiarContacto">Cambiar Establecimiento</button>                
                </div>
                <div class="form-group text-center col-md-6 col-md-offset-3">
                    <label class="control-label" style='color:#434B71;'><input type="checkbox" id="conItbis">Desea incluir ITBIS?</label>               
                </div>
            <div class="col-sm-9 col-lg-12 main">
                <div class="table-responsive">
                  <table cellpadding="0" class="table table-striped table-bordered" cellspacing="0" border="1" id="tblDetallePedido">
                        <thead>
                          <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Importe</th>
                            <th class="text-center">Acción</th>
                          </tr>
                        </thead>
                        <tbody id="contenidoDetalles">
                    
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main">
                <div class="row">
                  
                  <div class="col-lg-4">
                    <div class="input-group has-error">
                      <div id="SubTotal" class="input-group-addon">S/ Sub Total:</div>
                      <input type="text" class="form-control" id="txtSubTotal" name="txtSubTotal" placeholder="Sub Total" disabled="">
                    </div>
                  </div>
                  
                  <div class="col-lg-4 has-error">
                      <div class="input-group has-error">
                        <div id="Itbis" class="input-group-addon">S/ ITBIS 18.00%:</div>
                        <input type="text" class="form-control" id="txtItbis" name="txtItbis" placeholder="Impuesto" disabled="">
                      </div>
                  </div>
                  
                  <div class="col-lg-4 has-error">
                      <div class="input-group">
                          <div id="Total" class="input-group-addon">RD$ Total:</div>
                          <input type="text" class="form-control" id="txtTotal" name="txtTotal" placeholder="Total" disabled="">
                      </div>
                  </div>
                </div>
           </div>  
            <div class="col-lg-12 left">
                <button id="btnAccion" type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                <button id="btnCancelar" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Cancelar</button>
                <button id="btnBuscarItems" type="button" class="btn btn-warning"><i class="fa fa-coffee" aria-hidden="true"></i> Buscar Items</button>
                <hr>
            </div>         
          </div>
            
        </form>
        <button data-toggle="modal" data-target="#modalMenus" class="hidden" id="btnDispararModalMenus">Ver Menu</button>
        <!-- Modal -->
        <div class="modal fade" id="modalMenus" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Menús del Establecimiento</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="tablaMenus" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class='text-center'>ID</th>
                                        <th class='text-center'>MENÚ</th>   
                                        <th class='text-center'>VER ITEMS</th>                                 
                                    </tr>
                                </thead>
                                <tbody id="contenidoMenus">
                                
                                </tbody>
                            </table>
                        </div>                                  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <button data-toggle="modal" data-target="#modalItems" class="hidden" id="btnDispararModalItems">Ver Items</button>
        <!-- Modal -->
        <div class="modal fade" id="modalItems" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <h4 class="modal-title">Items del Menú</h4>
                    </div>
                    <div class="modal-body">
                        <button id="btnVolverAMenu" type="button" class="btn btn-warning" >Volver a Menús</button>
                        <div class="table-responsive">
                            <table id="tablaItems" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class='text-center'>ID</th>
                                        <th class='text-center'>CATEGORÍA</th> 
                                        <th class='text-center'>ITEM</th>   
                                        <th class='text-center'>PRECIO</th>   
                                        <th class='text-center'>CANTIDAD</th> 
                                        <th class='text-center'>AGREGAR</th>                                    
                                    </tr>
                                </thead>
                                <tbody id="contenidoItems">
                                
                                </tbody>
                            </table>
                        </div>                                  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_registro_pedido" class="text-center"></div>
            </center>
        </div>
    </div>    
    <div class="container-fluid"> 

        <form id="form_equipos" class="form-inline text-center">
            <div class="form-group">
                <label for="cboEquipos">Filtrar por Equipo:</label>
                <select class="form-control" id="cboEquipos">
                  <option value="0">- Seleccione un Equipo -</option>
                  {% for equipo in Equipos %}
                      <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Filtrar</button>
            </div>
        </form>
    </div>    
    <hr>
    
    <table id="tblPedidos">
        <thead style="background-color: #3D598C; color:#ffffff;">
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Establecimiento</th>
                <th>Creado por</th>
                <th>Foto</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Dirección</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="contenido_tabla">
        </tbody>
    </table>
         
    
    
    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="btnVerDetalles" data-toggle="modal" class="hidden" data-target="#modalVistaDetalles" >ver Detalles </button>
    <!-- Modal -->
    <div class="modal fade" id="modalVistaDetalles" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalles del Pedido</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table id="tablaVistaDetalles" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="bg-success">Item</th>
                    <th class="bg-success">Cantidad</th>
                    <th class="bg-success">Precio</th> 
                    <th class="bg-success">Importe</th>                                                          
                  </tr>
                </thead>

                <tbody id="contenido_tablaDetalles">
                    
                </tbody>   
                <tfoot>
                  <div class="row">
                    <div class="form-group has-success text-center col-md-4 col-xs-12"> 
                        <div id="SubTotalDetalles" class="input-group-addon">S/ Sub Total:</div>
                        <input id="txtSubTotalDetalles" class="form-control" style="text-align: center;" type="text" name="txtSubTotalDetalles" placeholder="SubTotal" disabled="">
                    </div>
                    <div class="form-group has-success text-center col-md-4 col-xs-12"> 
                        <div id="ItbisDetalles" class="input-group-addon">S/ ITBIS 18.00%:</div>
                        <input id="txtItbisDetalles" class="form-control" style="text-align: center;" type="text" name="txtItbisDetalles" placeholder="Itbis" disabled="">
                    </div>
                    <div class="form-group has-success text-center col-md-4 col-xs-12"> 
                        <div id="TotalDetalles" class="input-group-addon" >RD$ Total:</div>
                        <input id="txtTotalDetalles" class="form-control" style="text-align: center;" type="text" name="txtTotalDetalles" placeholder="Total" disabled="">
                    </div>
                  </div>
                      
                </tfoot>
                                              
             </table>
            </div>                                  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
