{% extends 'administracion/base_nueva.html' %}
{% load staticfiles %}


{% block titulo %}
    Panel de Administración
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %} Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
{% endif %}

{% block scripts_adicionales %}

{% endblock %}

{% block contenido_full %}
    <div class="jumbotron">
      <div class="alert alert-danger col-md-6 col-md-offset-3 col-xs-12 text-center" role="alert">Bienvenido al Panel de Administración</div>
    </div>
    <center>
        <img src="{% static 'principal/images/settings.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <div class="text-center">
        <a href="https://drive.google.com/open?id=0B2DI7yx9Df6EVzZnTk5LbXdzajg" class="btn btn-danger">Qué esperas, Descarga la aplicación</a>
    </div>
{% endblock %}

