{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'principal/imgs/logo.ico' %}" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block titulo %}{% endblock %} </title><!--BLOQUE TITULO-->
        <link rel="stylesheet" href="{% static 'principal/css/font-awesome.min.css' %}">
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'principal/css/style2.css'%}">
        <link rel="stylesheet" href="{% static 'principal/css/alertify.core.css' %}">
        <link rel="stylesheet" href="{% static 'principal/css/alertify.default.css' %}">
        <script src="{% static 'principal/js/index.js' %}"></script>
        <script src="{% static 'principal/js/alertify.min.js' %}"></script>
        {% block scripts_adicionales %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle Navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{% block activo_usuario %}{% endblock %}"><a href="usuarios">Usuarios</a></li>
                            <li class="{% block activo_categoria %}{% endblock %}"><a href="categorias">Categorías</a></li>
                            <li class="{% block activo_contacto %}{% endblock %}"><a href="contactos">Contactos</a></li>
                            <li class="{% block activo_sugerencias %}{% endblock %}"><a href="sugerencias">Sugerencias</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden"><a id="idUser" href="#">{% block id_usuario %}{% endblock %}</a></li>
                            <li><a href="#">{% block nombre_usuario %}{% endblock %}</a></li>
                            <li><a href="/principal">Volver al Sitio</a></li>
                            <li><a href="cerrar_sesion">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row" style="background:#214165;">
                <center><img src="{% static 'principal/imgs/logo.png' %}" width="100px" alt="LOGO" /></center>
                <div class="col-xs-12 ">
                    <h1 class="text-center" style="color:#ffc455">Sistema de Ordenes</h1>
                </div>
            </div>
        </div>
        <br><br>
        {% block contenido %} <!--BLOQUE CONTENIDO-->
        {% endblock %}

    </body>
</html>
