{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Menús
{% endblock %}
{% block css_cat_menus %}
    color:#fff;
{% endblock %}
{% block active_A_cat_menu %}
    active_propia
{% endblock %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/categoria_menus.js' %}"></script>
    
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblCategoriasMenu').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ categorías de menú por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay categorías de menú disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ categorías de menú totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2] }
                    ]
            });
        });
    </script>
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Categorías de Menú</span>
{% endblock %}
{% block contenido_full %}
        <hr>
        <h1 class="text-center">Categorías de Menú</h1>
        <hr>
        <center>
            <img src="{% static 'principal/imgs/categoria_menu.png' %}" class="img-responsive" alt="Cinque Terre">
        </center>
        <hr>
        <div class="container">
            <div class="row">
                <center>
                    <button id="abrirForm" class="btn btn-success">Agregar Nueva</button>
                </center>
            </div>
        </div>
        <div id="contenedorFormulario" class="container">
            <form id="form_registro_categorias_menu">{% csrf_token %}
                <div class="row row-flex row-flex-wrap">
                    <input type="hidden" id="categoria2">
                    <div id="divCategoria" class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="categoria">Categoría</label>
                        <input type="text" class="form-control" id="categoria" placeholder="Menú">
                    </div>                                
                    
                </div>
                <div class="form-group">
                    <div class="row">
                        <center><button id="btnAccion" type="submit" class="btn btn-success">Guardar</button>
                        <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="row">
                <center>
                    <div id="spinner_registro_usuario" class="text-center"></div>
                </center>
            </div>
        </div>
        
        
        <table id="tblCategoriasMenu">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CATEGORÍA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

{% endblock %}

