{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Establecimientos
{% endblock %}

{% block css_contactos %}
    color:#fff;
{% endblock %}

{% block active_A_contacto %}
    active_propia
{% endblock %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/contactos.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblContactos').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ establecimientos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay establecimientos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ establecimientos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4,5,6,7,8,9,10,11,12] }
                    ]
            });
        });
    </script>
{% endblock %}


    {% block nombre_usuario %}Bienvenido {{ usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ usuario }}{% endblock %}
    {% block id_usuario %}{{idusuario}}{% endblock %}


{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Establecimientos</span>
{% endblock %}

{% block contenido_full %}
    <hr>
    <h1 class="text-center">Establecimiento</h1>    
    <center>
        <img src="{% static 'principal/imgs/contactos_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <div class="container">
        <div class="row">
            <center>
                <button id="abrirForm" class="btn btn-success">Agregar Establecimiento</button>
            </center>
        </div>
    </div>
    <div id="contenedorFormulario" class="container">
        <form id="form_registro_contactos">{% csrf_token %}
            <div class="row">
                <input type="hidden" id="contacto2">
                <div id="divContacto" class="form-group text-center col-md-6 col-xs-12">
                    <label class="control-label" for="contacto">Nombre</label>
                    <input type="text" class="form-control" id="contacto" placeholder="Nombre">
                </div>
                <div id="divTelefono" class="form-group text-center col-md-6 col-xs-12">
                    <label class="control-label" for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
                </div>
                <div id="divDireccion" class="form-group text-center col-md-6 col-xs-12">
                    <label class="control-label" for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                </div>
                <div id="divCategoria" class="form-group text-center col-md-6 col-xs-12">
                    <label for="categoria" class="control-label">Categoría</label>
                    <select class="form-control" id="categoria">
                      <option value="0">-- Seleccione una categoría --</option>
                      {% if Categorias %}
                        {% for categoria in Categorias %}
                          <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                        {%endfor%}
                      {% endif%}
                    </select>
                </div>
                <div id="divDesde" class="form-group text-center col-md-6 col-xs-12">
                    <label class="control-label" for="desde">Desde</label>
                    <input type="time" class="form-control" id="desde">
                </div>
                <div id="divHasta" class="form-group text-center col-md-6 col-xs-12">
                    <label class="control-label" for="hasta">Hasta</label>
                    <input type="time" class="form-control" id="hasta">
                </div>
                
            </div>
            <div class="form-group">
                <div class="row">
                    <center><button id="btnAccion" type="submit" class="btn btn-success">Guardar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <center>
                <a href="/administracion/menus" class="btn btn-warning">Gestionar Menús</a>
            </center>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_registro_contacto" class="text-center"></div>
            </center>
        </div>
    </div>
    
    <table id="tblContactos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Disponible</th>
                <th>Rating Promedio</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Categoría</th>
                <th>Creado por</th>
                <th>Foto</th>                    
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>   

{% endblock %}
