{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Detalle Menú
{% endblock %}

{% block css_menus %}
    color:#fff;
{% endblock %}
{% block active_A_menu %}
    active_propia
{% endblock %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/itemsDeMenu.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblItems').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ ítems por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay ítems disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ ítems totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4] }
                    ]
            });
        });
    </script>
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span style="padding: 0.3em;color: #D95459;text-decoration: none;font-family: 'Muli-Regular';"><a href="/administracion/menus">Menús</a></span>
    <i class="fa fa-angle-right"></i>
    <span>Items</span>
{% endblock %}
{% block contenido_full %}
        {% for c in contacto_data%}
            <h1 class="hidden" id="idVerContacto">{{ c.contacto__pk }}</h1>
        {% endfor%}
        {% if idmenu%}<h1 class="hidden" id="idVerMenu">{{ idmenu }}</h1>{% endif %}
        <hr>
        {% if nombre%}
        <h1 class="text-center">Items de {{nombre}}</h1>
        {% else %}
        <h1 class="text-center">Items de Menú</h1>
        {% endif %}
        
        <hr>
        <center>
            <img src="{% static 'principal/imgs/items.png' %}" class="img-responsive" alt="Cinque Terre">
        </center>
        <hr>
        <div class="container">
            <div class="row">
                <center>
                    <button id="abrirForm" class="btn btn-success">Agregar Nuevo</button>
                </center>
            </div>
        </div>
        <div id="contenedorFormulario" class="container">
            <form id="form_registro_items">{% csrf_token %}
                <div class="row row-flex row-flex-wrap">
                    <input type="hidden" id="item2">
                    <div id="divItem" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="item">Item</label>
                        <input type="text" class="form-control" id="item" placeholder="Item">
                    </div>  
                    <div class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="precio">Precio</label>
                        <input type="text" class="form-control" id="precio" placeholder="Precio">
                    </div>                                 
                    <div class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="categoria_menu">Categoría de Menú</label>
                        <select class="form-control" id="categoria_menu">
                            <option  value="0">- Seleccione una Categoría -</option>
                            {% for cat in categorias_menu %}
                                <option value="{{ cat.id }}">{{ cat.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <center><button id="btnAccion" type="submit" class="btn btn-success">Guardar</button>
                        <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="row">
                <center>
                    <div id="spinner_registro_usuario" class="text-center"></div>
                </center>
            </div>
        </div>
        
        
        
        <table id="tblItems">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ITEM</th>
                    <th>CATEGORÍA</th>
                    <th>PRECIO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
{% endblock %}

