{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Montos
{% endblock %}
{% block css_montos %}
    color:#fff;
{% endblock %}
{% block active_A_montos %}
    active_propia
{% endblock %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/montos.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblMontos').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ montos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay montos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ montos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3] }
                    ]
            });
        });
    </script>
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Menús</span>
{% endblock %}
{% block contenido_full %}
        <hr>
        <center>
            <img src="{% static 'principal/imgs/montos.png' %}" class="img-responsive" alt="Cinque Terre">
        </center>
        <div class="form-group">
            <div class="row">
                <center>
                    <div id="spinner_carga_sugerencias" class="text-center"></div>
                </center>
            </div>
        </div>
        <h1 class="text-center">Montos</h1>
        
        <table id="tblMontos">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Foto</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
        <!-- Modal -->
        <div class="modal fade" id="modalFoto" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Foto de Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                        </center>                                                              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info hidden" data-toggle="modal" data-target="#modalPago" id="btnmodalPago">Open Modal</button>

        <!-- Modal -->
        <div id="modalPago" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pagar monto</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="txtidmonto">
                    <input type="number" min="0" class="form-control" id="txtmonto">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnPagarMonto">Pagar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              </div>
            </div>

          </div>
        </div>
{% endblock %}

