{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Sugerencias
{% endblock %}

{% block css_sugerencias %}
    color:#fff;
{% endblock %}

{% block active_A_sugerencias%}
    active_propia
{% endblock %}

{% block pagina_actual %}
    Sugerencias
{% endblock %}


    {% block nombre_usuario %}Bienvenido {{ usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ usuario }}{% endblock %}
    {% block id_usuario %}{{idusuario}}{% endblock %}


{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/sugerencias.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblSugerencias').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ sugerencias por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay sugerencias disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ sugerencias totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4,5,6,7,8,9] }
                    ]
            });
        });
    </script>
{% endblock %}

{% block contenido_full %}
    <h1 class="text-center">Sugerencias</h1>    
    <hr>
    <center>
        <img src="{% static 'principal/imgs/sugerencias_logo.png' %}" class="img-responsive" alt="Cinque Terre">
    </center>
    <hr>
    <div class="form-group">
        <div class="row">
            <center>
                <div id="spinner_carga_sugerencias" class="text-center"></div>
            </center>
        </div>
    </div>
    
    <table id="tblSugerencias">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Categoría</th>
                <th>Creado por</th>
                <th>Foto</th>
                <th>Aplicada</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    

    <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
    <!-- Modal -->
    <div class="modal fade" id="modalFoto" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Foto de Usuario</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                    </center>                                                              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}