{% extends 'administracion/base_nueva.html' %}

{% load staticfiles %}

{% block titulo %}
    Usuarios
{% endblock %}
{% block css_usuarios %}
    color:#fff;
{% endblock %}
{% block active_A_usuarios %}
    active_propia
{% endblock %}

{% block scripts_adicionales %}
    <script src="{% static 'principal/scripts/usuarios.js' %}"></script>
    <!-- DATATABLES NUEVO -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <!-- DATATABLES NUEVO -->
    <style type="text/css">
        .dtr-title{
            color:#3D4B67;
        }
        .dtr-data{
            color:#2F3031;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tblUsuarios').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ usuarios por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay usuarios disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ usuarios totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  }
                },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0,1,2,3,4,5,6,7,8,9] }
                    ]
            });

            var table2 = $('#tblEquipos').DataTable( {
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                "language": {
                  "search": "Buscar:",
                  "searchPlaceholder": "Buscar por columnas",
                  "lengthMenu": "Mostrar _MENU_ equipos por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "No hay equipos disponibles",
                  "infoFiltered": "(filtrado desde _MAX_ equipos totales)",
                  "paginate": {
                    "previous": "Anterior",
                    "next":"Siguiente"
                  },"aoColumnDefs": [
                        { "sClass": "text-center", "aTargets": [0] }
                    ],"aoColumnDefs": [
                        { "sClass": "yupi", "aTargets": [0] }
                    ]
                }
            });
        });
    </script>
{% endblock %}

{% if sesion %}
    {% block nombre_usuario %}Bienvenido {{ sesion.usuario }}{% endblock %}
    {% block nombre_usuario_2 %}{{ sesion.usuario }}{% endblock %}
    {% block id_usuario %}{{sesion.idusuario}}{% endblock %}
{% endif %}

{% block pagina_actual %}
    <i class="fa fa-angle-right"></i>
    <span>Usuarios</span>
{% endblock %}
{% block contenido_full %}
        <hr>
        <h1 class="text-center">Usuarios</h1>
        <center>
            <img src="{% static 'principal/imgs/usuarios_logo.png' %}" class="img-responsive" alt="Cinque Terre">
        </center>
        <hr>
        <div class="container">
            <div class="row">
                <center>
                    <button id="abrirForm" class="btn btn-success">Agregar Nuevo</button>
                </center>
            </div>
        </div>

        <div id="contenedorFormulario" class="container">
            <form id="form_registro_usuarios" enctype="multipart/form-data">{% csrf_token %}
                <div class="row row-flex row-flex-wrap">
                    <input type="hidden" id="usuario2">
                    <div id="divNombre" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                    </div>
                    <div id="divUsuario" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="usuario">Usuario</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                    </div>
                    <div id="divCorreo" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" placeholder="Correo">
                    </div>
                    <div id="divDireccion" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                    </div>
                    <div id="divClave" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="clave">Contraseña</label>
                        <input type="password" class="form-control" id="clave" placeholder="Contraseña">
                    </div>
                    <div id="divClave2" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="clave2">Repita la Contraseña</label>
                        <input type="password" class="form-control" id="clave2" placeholder="Repita la contraseña">
                    </div>                   
                    <div id="divRol" class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="rol">Rol</label>
                        <select class="form-control" id="rol">
                            <option value="0">- Seleccione un rol -</option>
                            {% for Rol in Roles %}
                                <option value="{{ Rol.id }}">{{ Rol.rol }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group text-center col-md-6 col-xs-12">
                        <label class="control-label" for="imagen">Imagen</label>
                        <input type="file" class="form-control" id="imagen">                                                 
                    </div>  
                    <div id="divContacto" class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="contacto">Establecimiento</label>
                        <select class="form-control" id="contacto"></select>
                    </div>  
                    <div id="divCambiarFoto" class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <label class="control-label" for="chkCambiarfoto">Cambiar Foto</label>
                        <input type="checkbox" class="form-control" id="chkCambiarfoto">
                    </div>   
                    <div class="form-group text-center col-md-6 col-xs-12 col-md-offset-3">
                        <center>
                            <img src="" id="fotoUsuarioEditar" width="150px" class="img-responsive">
                        </center>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <center><button id="btnAccion" type="submit" class="btn btn-success">Guardar</button>
                        <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button></center>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="row">
                <center>
                    <div id="spinner_registro_usuario" class="text-center"></div>
                </center>
            </div>
        </div>
        
        <table id="tblUsuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IMAGEN</th>
                    <th>NOMBRE</th>
                    <th>USUARIO</th>
                    <th>CORREO</th>
                    <th>EQUIPOS</th>
                    <th>ROL</th>
                    <th>ACTIVO</th>
                    <th>DIRECCIÓN</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        <button type="button" id="btnverFoto" data-toggle="modal" data-target="#modalFoto" class="hidden">ver Foto </button>
        <!-- Modal -->
        <div class="modal fade" id="modalFoto" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Foto de Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img id="imagenModal" width="250px" src="" class="img-responsive" alt="Cinque Terre">
                        </center>                                                              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    <button id="btnModalEquipos" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#modalEquipos">Ver Equipos</button>
        <!-- Modal -->
    <div id="modalEquipos" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Equipos</h4>
          </div>
          <div class="modal-body">            
            <table id="tblEquipos">
                <thead>
                    <tr>
                        <th class="text-center">Equipos</th>
                    </tr>
                </thead>
                <tbody id="contenido_equipos">
                    
                </tbody>
            </table>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}

